h2{
    color: rgb(123, 46, 139);
    margin-left: 1%;
}
a{
    text-decoration: none;
    background-color: rgb(79, 226, 252);
    font-size: 1.3em;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10% 10%;
    box-shadow: 2px 2px 2px 1px rgb(122, 122, 122);
}