<div class="content">
    <a class="nav" routerLink='index' routerLinkActive='activo'>Ir a Inicio</a>
    <br>
    <!-- al poner routerLinkActive podemos agregarle una clase (con css) para cuando ese link este funcionando -->
    <a class="nav" routerLink='products' routerLinkActive='activo'>Ir a Productos</a>
    <br>
    <a class="nav" routerLink='profile' routerLinkActive='activo'>Ir a Perfil</a>
    <br>
    <a class="nav" routerLink='dashboard' routerLinkActive='activo' >Ir al Dashboard</a>
</div>

